@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* ---- Font Faces ---- */

/* Regular */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Variable font for flexible weights */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("assets/fonts/CormorantGaramond/CormorantGaramond-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700; /* range */
  font-style: normal;
}


/* ---- EB Garamond Font Faces ---- */

/* Regular */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Medium */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* SemiBold */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ExtraBold */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* ExtraBold Italic */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Variable Font (for flexible weights) */
@font-face {
  font-family: "EB Garamond";
  src: url("assets/fonts/EB_Garamond/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: normal;
}

/* ---- Theme Variables ---- */
@theme {
  --font-cormorant-regular: "Cormorant Garamond", serif;
  --font-cormorant-medium: "Cormorant Garamond", serif;
  --font-cormorant-semibold: "Cormorant Garamond", serif;

  --font-ebgaramond-regular: "EB Garamond", serif;
  --font-ebgaramond-medium: "EB Garamond", serif;
  --font-ebgaramond-semibold: "EB Garamond", serif;
  --font-ebgaramond-bold: "EB Garamond", serif;
}
